@import url("/css/framework.css");

.container{
    
    width: 80%;
    height: 95vh;
    background-color: rgb(255, 242, 200);
    margin: auto;
}
.bouton{
    text-align: center;
    padding-top: 28px;
    background-color: rgb(205, 248, 248);
    border: 1px solid blue;
    width: 100px;
    height: 50px;
}

.bouton1{
    text-align: center;
    font-size: 1rem;
    background-color: rgb(205, 248, 248);
    border: 1px solid blue;
    width: 100px;
    height: 90px;
}

.bouton a{
    color: black;
    
}

fieldset{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(243, 247, 250);
    
    
}

.titre{
    color: rgb(27, 48, 70);
    
}

:visited{
    background-color: forestgreen;
}

.vert{
    background-color: forestgreen;
    color: white;
}