
body{
    /*width: 70%;
    margin: auto;
    background-color: rgb(255, 242, 200);*/
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: rgb(255, 242, 200);
}

input  {
    

 
}

input {
color: blue;

}

.content{
    max-width: 64rem;
    margin: 0 auto; 
    background-color: rgb(243, 247, 250);
    padding: 3rem;
    margin-top: 30px;
}